<app-student-navbar></app-student-navbar>
<div *ngIf="gradesArray.length > 0">
  <h2>Student Grades</h2>
  <div class="grades-tables">
    <table>
      <thead>
      <tr>
        <th>Subject</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let subject of gradesArray">
        <tr>
          <td>{{ subject.name }}</td>
          <ng-container *ngFor="let grade of subject.grades.slice(0, -1)">
            <td>{{ grade }}</td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <table class="avg-table">
      <thead>
      <tr>
        <th>Avg</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let subject of gradesArray">
        <tr>
          <td>{{ subject.grades.slice(-1)[0] }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

