<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">eDuca</a>
  </div>
  <ul class="navbar-links">
    <li><a (click)="redirectTo('home')">Home</a></li>
    <li><a (click)="redirectTo('profile')">Profile</a></li>
    <li><a (click)="redirectTo('grades')">Grades</a></li>
  </ul>
  <div class="navbar-actions">
    <div class="dropdown">
    </div>

    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>

<div *ngIf="gradesArray.length > 0">
  <h2>Student Grades</h2>
  <div class="grades-tables">
    <table>
      <thead>
      <tr>
        <th>Subject</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let subject of gradesArray">
        <tr>
          <td>{{ subject.name }}</td>
          <ng-container *ngFor="let grade of subject.grades.slice(0, -1)">
            <td>{{ grade }}</td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <table class="avg-table">
      <thead>
      <tr>
        <th>Avg</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let subject of gradesArray">
        <tr>
          <td>{{ subject.grades.slice(-1)[0] }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

