/* student-home.component.css */

/* Center the content */

/* Style for the card deck */
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  
}

.card {
  width: calc(25% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.welcome-container {
  margin: 20px;
}

.left-aligned {
  text-align: left;
}


