<app-student-navbar></app-student-navbar>
<div style="text-align: center;">
  <div class="welcome-container">
    <h2>Welcome, {{ studentData.name }}</h2>
    <h3 class="left-aligned">My Subjects</h3>
  </div>
  <div class="card-deck">
    <div *ngFor="let subject of studentData.studentclass.subjects" class="card" (click)="redirectToGrades()">
      <img class="card-img-top" src="../../assets/school_stock.jpg" alt="Subject Image">
      <div class="card-body">
        <h5 class="card-title">{{ subject.name }}</h5>
      </div>
    </div>
  </div>
  
</div>




