<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">eDuca</a>
  </div>
  <ul class="navbar-links">
    <li><a (click)="redirectTo('home')">Home</a></li>
    <li><a (click)="redirectTo('profile')">Profile</a></li>
    <li><a (click)="redirectTo('grades')">Grades</a></li>
  </ul>
  <div class="navbar-actions">
    <div class="dropdown">
    </div>

    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>
<div *ngIf="studentData" class="container">
  <h2>{{ studentData.name }}</h2>
  <p>School:{{studentData.school}}</p>
  <p>Class: {{ studentData.studentclass.classname }}</p>
  <div class="text">
    <label for="email">Email:</label>
    <input type="text" id="email" [(ngModel)]="studentData.email" name="email" readonly class="text">
  </div>
  <div class="text1">
    <label for="nmec">NMEC:</label>
    <input type="text" id="nmec" [(ngModel)]="studentData.nmec" name="nmec" readonly class="text1">
  </div>

  <div>
    <label for="password">New Password:</label>
    <input type="password" id="password"  name="password" placeholder="Enter new password">
  </div>

  <button (click)="updateStudent()">Update</button>
</div>

<div *ngIf="!studentData">
  <p>Loading student data...</p>
</div>

