/* Resetting some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center; /* Ensure this line is present */
}
.text{
  text-align: center;
}

.text1{
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Paragraph */
p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Input Styles */
input {
  width: calc(100% - 16px);
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#password {
  width:auto;
  margin-bottom: 15px;
}

/* Button Styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Loading */
.loading {
  text-align: center;
  margin-top: 50px;
}

/* Read-only Input Styles */
input[readonly] {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: default;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffcc00;
}

.navbar-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
}

.navbar-actions button:hover {
  background-color: #0056b3;
}
