<app-navbar></app-navbar>
<div class="container">
  <h1>School Management System</h1>

  

  <div class="buttons-container">
    <button class="button" (click)="redirectTo('classes')">Classes</button>
    <button class="button" (click)="redirectTo('students')">Students</button>
    <button class="button" (click)="redirectTo('teachers')">Teachers</button>
  </div>

  <h2>Notifications</h2>
  <div class="notifications-container">
    <ul>
      <li *ngFor="let notification of notifications">
        {{ notification.message }}
        <span class="created-date">{{ notification.createdDate | date: 'short' }}</span>
      </li>
    </ul>
  </div>
</div>
