<div class="container">
  <h2>Show Information</h2>

  <!-- Buttons to switch content -->
  <div class="button-group">
    <button (click)="showProfile()">Profile</button>
    <button (click)="showGrades()">Grades</button>
  </div>

  <div *ngIf="selectedContent === 'Profile'" class="content-section">
    <form #teacherForm="ngForm"  class="profile-form">
      <div class="form-group">
        <label >Name:</label>
        <input id="name" type="text">
      </div>

      <div class="form-group">
        <label >Email:</label>
        <input id="email" type="email">
      </div>

      <div class="form-group">
        <label >Password:</label>
        <input id="password" type="password" >
      </div>

      <div class="form-group">
        <label >Teacher Subjects:</label>
        <div class="custom-select">
          <div class="select-box" (click)="toggleDropdown3()">
            <div class="selected-options">
              <span *ngFor="let option of teacherSubjects" class="selected-option">{{ option }}</span>
            </div>
            <span class="arrow"></span>
          </div>
          <div class="dropdown-list" [hidden]="!showDropdown3">
            <div *ngFor="let option of options" (click)="toggleOption3(option)" class="dropdown-option" [class.selected]="isSelected3(option)">
              {{ option }}
            </div>
          </div>
        </div>
      </div>

      <div class="container" id="rad">
        <div class="form-group">
          <label >Class Subjects of Teacher:</label>
          <div class="custom-select">
            <div class="select-box" (click)="toggleDropdown()">
              <div class="selected-options">
                <span *ngFor="let option of selectedSubjects" class="selected-option">{{ option }}</span>
              </div>
              <span class="arrow"></span>
            </div>
            <div class="dropdown-list" [hidden]="!showDropdown">
              <div *ngFor="let option of teacherSubjects" (click)="toggleOption(option)" class="dropdown-option" [class.selected]="isSelected(option)">
                {{ option }}
              </div>
            </div>
          </div>
        </div>


        <div class="select">
          <p>Select Class:
            <select id="modalSelect" >
              <option *ngFor="let class of selectedClasses" (click)="updateOptions(class)">{{class}}</option>
            </select>
          </p>
        </div>

        <button type="submit" (click)="UpdateTeachingAss()">Save</button>
      </div>




      <div class="form-group">
        <label >Teacher Classes:</label>
        <div class="custom-select">
          <div class="select-box" (click)="toggleDropdown2()">
            <div class="selected-options">
              <span *ngFor="let option of selectedClasses" class="selected-option">{{ option }}</span>
            </div>
            <span class="arrow"></span>
          </div>
          <div class="dropdown-list" [hidden]="!showDropdown2">
            <div *ngFor="let option of options2" (click)="toggleOption2(option)" class="dropdown-option" [class.selected]="isSelected2(option)">
              {{ option }}
            </div>
          </div>
        </div>
      </div>

      <button type="submit" (click)="submitTeacherProfile()">Save</button>
    </form>
  </div>





  <div *ngIf="selectedContent === 'Grades'" class="content-section">
    <h3>Subjects & Teachers' Information</h3>
    <div class="table-container">
      <table class="grade-table">
        <thead>
        <tr>
          <th>Student</th>
          <th>Class</th>
          <th>Subject</th>
          <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let grade of grades; let i = index">
          <td>{{ grade.student.name}}</td>
          <td>{{ grade.student.studentclass.classname }}</td>
          <td>{{ grade.subject.name }}</td>
          <td>{{ grade.grade }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





