<app-navbar></app-navbar>
<h2>All Teachers</h2>

<div class="table-container">
  <button class="button" (click)="showAddTeacherModal()">Add Teacher</button>
  <table class="info-table">
    <thead>
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of tableData">
      <td>{{ row.nmec }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td class="action-icons">
        <i class="fa-solid fa-pen-to-square action-icon edit"  (click)="TeacherEdit(row)"></i>
        <i class="fas fa-eye action-icon view"  (click)="navigateToTeacherDetails(row.nmec)"></i>
        <i class="fas fa-trash action-icon delete" (click)="deleteTeacher(row)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="editModal" class="modal">
  <div class="modal-content">
    <h2>User Details</h2>
    <div class="input-group">
      <div class="input">
        <p>Name: <input id="name" type="text"></p>
        <p>Email: <input id="email" type="email"></p>
        <p>Password: <input id="password" type="password"></p>
      </div>
    </div>
    <!-- Add more fields as needed -->
    <button (click)="saveChanges()">Save Changes</button>
    <button (click)="closeEditModal()">Close</button>
  </div>
</div>

<div id="addModal" class="modal">
  <div class="modal-content">
    <h2>Add Teacher</h2>
    <div class="input-group">
      <div class="input">
        <p>Name: <input id="name1" type="text"></p>
        <p>Email: <input id="email1" type="email"></p>
        <p>Password: <input id="password1" type="password"></p>
      </div>
      
      <div class="form-group">
        <label >Teacher Subjects:</label>
        <div class="custom-select">
          <div class="select-box" (click)="toggleDropdown3()">
            <div class="selected-options">
              <span *ngFor="let option of teacherSubjects" class="selected-option">{{ option.name }}</span>
            </div>
            <span class="arrow"></span>
          </div>
          <div class="dropdown-list" [hidden]="!showDropdown3">
            <div *ngFor="let option of subjects" (click)="toggleOption3(option)" class="dropdown-option" [class.selected]="isSelected3(option)">
              {{ option.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add more fields as needed -->
    <button (click)="addTeacher()">Save Changes</button>
    <button (click)="closeAddModal()">Close</button>
  </div>
</div>



